template(name='TimestampList')

    .input-field
        +EasySearch.Input(index=timestampIndex attributes=inputAttributes)
        label(for="search")
            i.mdi-action-search
        i.mdi-navigation-close.close

    table(id='timestamp-list' class="striped bordered")
        thead
            tr
                th {{i18n 'timestampList.hash_result'}}
                th {{i18n 'timestampList.creation_date'}}
                th {{i18n 'timestampList.server_used'}}
        tbody
            +EasySearch.Each(index=timestampIndex)
                tr
                    td(class='hash-cell') #{hash}
                    td #{creationDate}
                    td #{server}

    +EasySearch.Pagination(index=timestampIndex maxPages=10)

    +EasySearch.IfNoResults(index=timestampIndex)
        div(class="no-results") No results found!
