template(name='TimestampList')
    .col.s12.m12.l12.container
        .row
            .input-field.col.s4.offset-s8.m4.offset-m8.l4.offset-l8
                i.material-icons.prefix search
                +EasySearch.Input(index=timestampIndex attributes=inputAttributes)
                label {{i18n 'timestampList.search'}}

        table#timestamp-list.striped.bordered.centered.responsive-table
            thead
                tr
                    th {{i18n 'timestampList.hash_result'}}
                    th {{i18n 'timestampList.creation_date'}}
                    th {{i18n 'timestampList.server_used'}}
            tbody
                +EasySearch.Each(index=timestampIndex)
                    tr
                        td(class='hash-cell') #{hash}
                        td #{creationDate}
                        td #{server}

        #paginated.row
            .col.s4.offset-s8.m4.offset-m8.l4.offset-l8
                +EasySearch.Pagination(index=timestampIndex maxPages=6)

        +EasySearch.IfNoResults(index=timestampIndex)
            .no-results {{i18n 'timestampList.no_results'}}
